/* LAYOUT */
html,body{
    height: 100%;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
}
.word-space {
    /* letter-spacing: .1rem; */
    word-spacing: .4rem;
    font-weight: 600;
}
/* COLORS */
.white{
    background: #ffffff;
}
.blue {
    background: #3a4b5b;
}
.off-white {
    background: #fcfcfc;
}
.lighter-teal {
    background: #d4f0f0;
}
.light-teal {
    background: #57ccc5;
}
.teal {
    background: #59c5c3;
}
.dark-gray {
    background: #292929;
}
.light-gray {
    background: #e8e7e7;
}
.dark-blue {
    background: #2b2f3b;
}
.gray {
    background: #707070;
}
.medium-gray {
    background: #5a5c60;
}
.peaches {
    background: #fcdad1;
}
.white {
    background: #ffffff;
}
.transparent {
    background: transparent;
}
.border-gray {
    border: 1px solid #707070 !important;
}
.text-sofia {
    font-family: sofia-pro, sans-serif;
}
#splash {
    background: url('../images/splash.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#giving-back {
    background: url('../images/medcouture-givingback.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h4 {
    color: #5a5c60;
    font-family: sofia-pro, sans-serif;
}
.text-white {
    color:#ffff;
}
.text-blue {
    color:#3a4b5b;
}
.text-gray {
    color:#707070;
}
.text-didot {
    font-family: linotype-didot-headline, serif;
    font-style: normal;
    font-weight: 400;
}
.text-didot-lt {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
}
button.light-gray {
    border: #3a4b5b solid 1px;
    border-radius: 1.5rem;
    width: 17rem;
    padding: .7rem;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .1rem;
    color: #2b2f3b;
}
a.button {
    border: solid 1px;
    border-radius: 1.5rem;
    width: 17rem;
    padding: .7rem;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}
button {
    border: solid 1px;
    border-radius: 1.5rem;
    width: 17rem;
    padding: .7rem;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .1rem;
}
button.navbar-toggler {
    width:auto;
    border: 0;
}
    button.navbar-toggler:focus {
    width:auto;
    border: 0;
}

hr.white {
    border-top: 1px solid #ffffff;
}
.card-footer {
    position: relative;
    bottom: 4rem;
    border: 0px;
    background: transparent;
}

.testimonials {
    overflow: hidden;
    position: relative;
    max-height: 300px;
  }
  
  .testimonials {
    background: #161d25;
  }
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }
  
  .icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  
  .carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 1;
  }
  
  .prev {
    left: -2.25rem;
  }
  
  .next {
    right: -2.25rem;
  }
  
  
  /* @media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  } */

@media (max-width: 769px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
@media (max-width: 576px) {
    .hidden-sm {
        display: none!important;
    }
    #touch-splash {
        /* position: relative;
        bottom: 3rem; */
        background: #d4f0f0;
    }
    #touch-pic {
        position: relative;
        bottom: 3rem;
    }
}
@media (min-width: 576px) {
    .hidden-lg {
        display: none!important;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 769px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



